<tr>
    <td>
        {% if p.id %}
        <a hx-post="/vault/update/{{ p.id }}"
            hx-include="closest tr"
            hx-trigger="click, keydown[key=='Enter'] from:closest tr">
            <i class="fas fa-save"></i>
        </a>
        <a hx-get="/vault/row/{{ p.id }}"
            hx-trigger="click, keydown[key=='Escape'] from:closest tr">
            <i class="fas fa-undo"></i>
        </a>
        {% else %}
        <a hx-post="/vault/add_row"
            hx-include="closest tr"
            hx-trigger="click, keydown[key=='Enter'] from:closest tr">
            <i class="fas fa-save"></i>
        </a>
        <i _="on click hide closest <tr/>
              on keydown[key=='Escape'] from closest <tr/> hide closest <tr/>" class="fa-solid fa-trash"></i></a>
        {% endif %}
    </td>
    <td><input type="text" name="url" placeholder=" site" {% if p.url %}value="{{ p.url }}"{% endif %} /></td>
    <td><input type="text" name="username" placeholder=" username" {% if p.username %}value="{{ p.username }}"{% endif %} /></td>
    <td><input type="text" name="password" placeholder=" password" {% if p.password %}value="{{ p.password }}"{% endif %} /></td>
</tr>