<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th scope="col" width="30%">Site</th>
            <th scope="col" width="30%">Username</th>
            <th scope="col" width="30%">Password</th>
        </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML swap:.25s">
        {% for p in passwords %}
            {{ render_partial('vault/partials/password_row.html', p=p) }}
        {% endfor %}
        {% if not printable %}
        <tr class="add-password">
            <td colspan="4">
                <button hx-get="/vault/add_row"
                    hx-swap="beforebegin swap:.25s"
                    hx-target=".add-password"
                    class="fade-me-out btn btn-primary"
                    name="add_password"
                >
                <i class="fas fa-plus-circle"></i> Add a password</button>
                <a class="btn btn-success" href="/vault/export" target="_blank" rel="noopener noreferrer" style="visibility: none;">
                    <i class="fa-solid fa-file-export"></i> Export</a>

                    {% if passwords %}{% endif %}
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>