{% extends "shared/_layout.html" %}
{% block header %}
        <header class="py-5 bg-image-full" style="background-color: grey; background-size: 100%;">
                <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="/static/img/SP.png" alt="..." />
                <h1 class="text-black fs-3 fw-bolder">SuperPassword</h1>
                <p class="text-black-50 mb-0">A Super Password Manager</p>
                </div>
        </header>
{% endblock %}

{% block main_content %}
<div class="text">
        <h1>The only password manager you'll ever need.</h1>
</div>


<div class="get-started">
        <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><a class="btn btn-danger btn-block" href="/store">Get Started</a></div>
                <div class="col-4"></div>
        </div>
</div>
{% endblock %}
