{% extends "shared/_layout.html" %}
{% block main_content %}
    
    <form action="" class="login-form" method="post">
        <h2>Enter Your Vault</h2>
        <input class="form-control" type="text" name="username" placeholder="username" value="{{ username }}" required>
        <input class="form-control" type="password" name="password" placeholder="password" >
        <div class="d-grid gap-2 d-md-block">
            <button type="submit" name="submit" class="btn btn-primary btn-block">Login 🦸</button>
            <a href="/account/register" class="btn btn-secondary btn-block">Register</a>
        </div>

        {% if error %}
            <div class='error-msg'>{{ error }}</div>
        {% endif %}

    </form>
{% endblock %}